.comp-insert{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

.comp-insert input{
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

.comp-insert select{
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

.comp-insert textarea{
    width: 400px;
    padding: 10 px;
    margin: auto;
    margin-top: 50px;

}
