.comp-insert{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.comp-insert input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 10px;
}

.comp-insert select{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 10px;
}

.comp-insert textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 10px;
}

.btn-insert{
    background-color: green;
    color: white;
}
.btn-prew{
    background-color: red;
    color: black;
}

