.homepage form{
    align-items: center;
}

.homepage button{
    background-color: green;
    color: white;
}

.homepage {
    padding: 20px;
}

.recetas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.receta-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.receta-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.receta-card p {
    margin: 5px 0;
    font-size: 0.9em;
}

.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    cursor: pointer;
    transition: fill 0.2s;
}

.star:hover {
    fill: #ffd700;
}
